.vscode/**
.vscode-test/**

.gitignore

out/**
test/**
**/*.map
**/*.ts

i18n/**
src/**
preview-src/**
tools/**
exemples/**

gulpfile.js
tsconfig.json
shared.webpack.config.js
extension.webpack.config.js
webpack.config.js

PERSONAL-NOTES.md
media/textile-mark_logo.svg
media/readme/**

# mandatory
node_modules/**