.vscode/**
.vscode-test/**

.gitignore

out/test/**
test/**
**/*.map

i18n/**
src/**
preview-src/**
tools/**

gulpfile.js
tsconfig.json
extension.webpack.config.js
webpack.config.js

PERSONAL-NOTES.md
media/textile-mark_logo.svg

# mandatory
node_modules/**
# but VSIX won't work without them :
!node_modules/vscode-nls
!node_modules/vscode-extension-telemetry
!node_modules/applicationinsights
