.vscode/**
.vscode-test/**

.gitignore

out/test/**
test/**
**/*.map
**/*.ts

i18n/**
src/**
preview-src/**
tools/**
exemples/**

gulpfile.js
tsconfig.json
extension.webpack.config.js
webpack.config.js

PERSONAL-NOTES.md
media/textile-mark_logo.svg
media/readme/**

# mandatory
node_modules/**
# but VSIX won't work without them :
!node_modules/vscode-nls