/* From http://borgar.github.io/textile-js/app.css
 * with some colors/sizes removed
 */

.textile-body {
  padding: 0 1em 4px 1em;
  /* color: #444; */
  /* Disabled : allow more coherence and dynamic setting via options
  font-size: 13px;
  line-height: 1.4;
  */
}
/* Disabled : allow more coherence and dynamic setting via options
.textile-body h1 {
  line-height: 1.1;
  font-size: 2em;
}
.textile-body h2 {
  line-height: 1.1;
  font-size: 1.6em;
}
.textile-body h3 {
  line-height: 1.14;
  font-size: 1.36em;
}
.textile-body h4 {
  line-height: 1.2;
  font-size: 1.14em;
}
.textile-body h5 {
  line-height: 1.24;
  font-size: 1em;
}
.textile-body h6 {
  line-height: 1.24;
  font-size: 1em;
}
*/
/*
.textile-body code {
  background: #f4f4f4;
}
*/
.textile-body table {
  border-collapse : collapse;
}
.textile-body table th,
.textile-body table td {
  padding : 4px 8px;
  border-width: 1px;
  border-style: solid;
  /*#aaa*/
}
.textile-body ul {
  margin-left: 0;
  padding-left: 2em;
}
.textile-body acronym {
  text-decoration : none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  /*#888*/
  cursor: help;
}
.textile-body blockquote {
  margin-left: .6em;
  padding-left: 1em;
  border-left-width: .4em;
  border-left-style: solid;
  /*#ddd*/
}
.textile-body pre > code {
  display: block;
}
.textile-body .caps {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
}