/* From http://borgar.github.io/textile-js/app.css
 * with some colors/sizes removed
 */

#text_preview {
  padding: 0 1em 4px 1em;
  /* color: #444; */
  /* Disabled : allow more coherence and dynamic setting via options
  font-size: 13px;
  line-height: 1.4;
  */
}
/* Disabled : allow more coherence and dynamic setting via options
#text_preview h1 {
  line-height: 1.1;
  font-size: 2em;
}
#text_preview h2 {
  line-height: 1.1;
  font-size: 1.6em;
}
#text_preview h3 {
  line-height: 1.14;
  font-size: 1.36em;
}
#text_preview h4 {
  line-height: 1.2;
  font-size: 1.14em;
}
#text_preview h5 {
  line-height: 1.24;
  font-size: 1em;
}
#text_preview h6 {
  line-height: 1.24;
  font-size: 1em;
}
*/
/*
#text_preview code {
  background: #f4f4f4;
}
*/
#text_preview table {
  border-collapse : collapse;
}
#text_preview table th,
#text_preview table td {
  padding : 4px 8px;
  border-width: 1px;
  border-style: solid;
  /*#aaa*/
}
#text_preview ul {
  margin-left: 0;
  padding-left: 2em;
}
#text_preview acronym {
  text-decoration : none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  /*#888*/
  cursor: help;
}
#text_preview blockquote {
  margin-left: .6em;
  padding-left: 1em;
  border-left-width: .4em;
  border-left-style: solid;
  /*#ddd*/
}
#text_preview pre > code {
  display: block;
}
#text_preview .caps {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
}